.servicesSection {
    background: linear-gradient(90deg, #FFE500 60%, #FFC107 90%);
    background-size: cover;
    background-position: center;
    max-width: 1450px;
    padding: 60px 40px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
}

.servicesSection::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 60%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.servicesSection::after {
    content: "";
    /*position: absolute;*/
    bottom: 10%;
    right: 20%;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%);
    border-radius: 50%;
    transform: translate(50%, 50%);
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.desktopGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /*padding: 20px;*/
}

.serviceCard {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    min-height: 250px;
}

.serviceCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Стили для мобильного слайдера */
.mobileSlider {
    display: none;
}

.separator {
    width: 70%;
    /*border: 1px solid #212121;*/
    margin: 20px 0px;
    text-align: left;
}

@media screen and (max-width: 768px) {

    .servicesSection {
        padding: 20px 20px;
    }

    .desktopGrid {
        display: none;
    }

    .mobileSlider {
        display: block;
    }

    .serviceCard {
        min-height: 350px;
    }

    .showMoreButton, .hideButton {
        display: none;
    }

    h2 {
        font-size: 34px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.showMoreButton, .hideButton {
    background: #212121;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.showMoreButton:hover, .hideButton:hover {
    background: black;
}

/* Добавляем отступ, чтобы пагинация не перекрывала карточки */
.servicesSwiper {
    padding-bottom: 50px; /* Создаём место для пагинации */
}

/* Контейнер для вынесенной пагинации */
.servicesPagination {
    margin-top: 20px;
    text-align: center;
    position: relative !important;
}

/* Стили точек пагинации */
.servicesPagination .swiper-pagination-bullet {
    background-color: #000 !important; /* Цвет неактивных точек */
    width: 12px;
    height: 12px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

/* Стили активной точки */
.servicesPagination .swiper-pagination-bullet-active {
    background-color: #ffcc00 !important; /* Цвет активной точки */
    opacity: 1;
    transform: scale(1.2);
}

